@model C__laba_2_console_traffic_police.Models.Driver

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.driverLicenceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.driverLicenceID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DriverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
