@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<C__laba_2_console_traffic_police.Models.Driver>

@{
    ViewData["Title"] = "Drivers Information";
}

<h1>Driver`s information</h1>

<p>
    <a asp-action="Create">Create New Driver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverMiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverMiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverPhoneNumber)
            </td>
            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DriverId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DriverId">Details</a> 
                </td>
            }
            @if (User.IsInRole("Admin"))
            {
                   <td>
                       <a asp-action="Delete" asp-route-id="@item.DriverId">Delete</a>
                   </td>
            }
        </tr>
}
    </tbody>
</table>
